td{
  grid-column: 1fr;
  border: 1px solid;
  padding: 20px;
  text-align: left;
  width: 100px;

}


.App {
  display: flex;
  justify-content: center;
}
table {
  display: grid;
  grid-template-columns: 5,1fr;
}
