td{
  grid-column: 1fr;
  border: 1px solid;
  padding: 10px;
  text-align: left;
  width: 100px;

}


.cities {
  display: flex;
  justify-content: center;
  
}
#cw {
  display: grid;
  grid-template-columns: 5,1fr;
}


button {
  width: 100px;
  height: 20px;
}
